/* Custom color for the navbar and buttons */
.bg-primary-custom {
    background-color: #003366 !important; /* Warna biru gelap khas */
}

.navbar-primary-custom .navbar-nav .nav-link {
    color: #ffffff !important;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #343a40;  /* Bootstrap dark background */
    color: #fff;
}

.btn-ellipse {
    border-radius: 50px;  /* Membuat tombol berbentuk elips */
    padding: 5px 20px;    /* Padding tambahan untuk membuat tombol lebih lebar */
    color: white;         /* Mengubah warna font menjadi putih */
}